<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      http-equiv="Content-Security-Policy"
      content="script-src 'self' 'unsafe-inline'"
    />
    <title>Telemedicine</title>
  </head>
  <style contenteditable="true">
    html,
    body {
      height: 100vh;
      width: 100vw;
      margin: 0;
      padding: 0;
    }
  </style>
  <body>
    <div id="root"></div>
  </body>
</html>
